* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    transition: all 1s ease;
    opacity: 0;
}

.menu {
    width: 20vw;
    height: 100vh;
    background-color: #292927;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-top-right-radius: 5px;

    gap: 15px;

    transition: all .55s ease;

    & .bx {
        font-size: 45px;
        cursor: pointer;
        color: #fff;
        transition: all 1s ease;
    }
}

.chat-mgs{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
    display: flex; /* Usar flexbox para alinhar itens */
    align-items: center; /* Centraliza verticalmente */
    margin: 10px 0; /* Adiciona um espaço entre as mensagens */
}

.bot-word {
    background: linear-gradient(56deg, rgba(245,25,25,1) 0%, rgb(155, 126, 0) 65%);
    -webkit-background-clip: text; /* Faz o fundo recortar o texto */
    color: transparent; /* Torna o texto transparente para que o degradê seja visível */
    font-weight: bold; /* Torna a palavra em negrito */
}



.chat {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .55s ease;
    gap: 50px;

    & .text-chat {
        overflow-y: auto;
        width: 75vw;
        height: 80vh;
        display: flex;
        flex-direction: start;
        flex-direction: column;
    }

    & .prompt {
        width: 30vw;
        margin-bottom: 10px;
        height: 7vh;
        padding: 15px;
        border: 1px solid #292927;
        outline: none;
        border-radius: 100px;
        font-size: 16px;
    }
}


.Logo {
    display: flex;
    align-items: center;
    padding: 1vw;
    justify-content: center;
    gap: 5px;
    font-family: "Poppins";
    background: rgb(245,25,25);
    background: linear-gradient(56deg, rgba(245,25,25,1) 0%, rgba(245,204,25,1) 65%);
    -webkit-background-clip: text; /* Faz o background clipe ao texto */
    -webkit-text-fill-color: transparent; /* Torna o preenchimento do texto transparente */
    font-size: 35px;

    & img {
        width: 75px;
    }
}

.config{
    background-color: #fff;
    width: 12vw;
    height: 7vh;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Poppins";
    cursor: pointer;
    gap: 10px;

    & .config-icon{
        color: black;
        font-size: 45px;
    }

    & p {
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
}

.loading{
    width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
}

.send {
    display: none;
}


.leave{
    background-color: #fff;
    width: 12vw;
    height: 7vh;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Poppins";
    cursor: pointer;
    margin-bottom: 30px;

    & p {
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
}

.pcicon-loading{
    font-size: 50px;
}



li {
    margin: 50px;
}

/* Animição de girar infinitamente */

.animation-360{
    animation: girar 1s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media (max-width: 730px) {
    .menu{
        display: none;
    }
    .loading {
        display: none;
    }

    .send{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background-color: black;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        color: #ffff;
        margin-bottom: 10px;
        border: none;
    }
    .input-prompt{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 90vw;

        & #prompt {
            width: 75vw;
        }
    }
    #chat{
        width: 90vw;

    }

    .chat-mgs{
        font-size: 12px;
    }
}